<div class="blockHeader"><div class="help">プラン編集</div></div>
<div class="help">
  <div class="set clearfix">
    <ol>
      <li>タイトルと概要を入力します</li>
      <li>ステータスを計画中・旅行中・旅行記の中から選択します</li>
      <li>行き先を追加します</li>
      <li>行き先はドラッグアンドドロップで並べ替えられます</li>
      <li>
        それぞれの行き先に関連した写真があれば追加します<br>
        「写真を追加」と書いてある枠にファイルをドロップするとアップロードできます
      </li>
    </ol>
  </div>
</div>

<div class="blockHeader"><div class="help">行き先設定</div></div>
<div class="help">
  <div class="set clearfix">
    <ol>
      <li>場所を検索します</li>
      <li>場所が見つからない場合は「場所を登録」ボタンで新しく追加します</li>
      <li>結果の一覧から場所を選択します</li>
      <li>あれば時間メモとコメントを記入します</li>
    </ol>
  </div>
</div>

<div class="blockHeader"><div class="help">場所登録</div></div>
<div class="help">
  <div class="set clearfix">
    <ol>
      <li>地図上のマーカーをドラッグ&amp;ドロップで目的の場所に移動します</li>
      <li>名前を入力します</li>
      <li>マーカーをドロップした場所の住所が自動入力されるので、確認して修正します。不明な場合は空でも登録できます</li>
      <li>あれば概要を入力します</li>
    </ol>
  </div>
</div>
