<p class="blockHeader">プラン作成</p>
<div id="info">
  <div class="set clearfix">
    <ol>
      <li>タイトルと概要を入力します</li>
      <li>ステータスを計画中・旅行中・旅行記の中から選択します</li>
      <li>写真はプラン作成後に設定できます</li>
    </ol>
  </div>
</div>
