<%
=begin
%>
<p><img src="/images/side/tweet_h.gif" alt="01" title="01"></p>
<div id="tweet">
  <div class="set clearfix">
    <p class="icon"><img src="/images/profile/profile_001.jpg"  alt="写真" title="写真"></p>
    <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ<br><a href="">http://xxx.com/p/5308916 2010/10/27 10:20</a></p></div>
  </div>
  <div class="set clearfix">
    <p class="icon"><img src="/images/profile/profile_001.jpg"  alt="写真" title="写真"></p>
    <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ<br><a href="">http://xxx.com/p/5308916 2010/10/27 10:20</a></p></div>
  </div>
  <div class="set clearfix">
    <p class="icon"><img src="/images/profile/profile_001.jpg"  alt="写真" title="写真"></p>
    <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ<br><a href="">http://xxx.com/p/5308916 2010/10/27 10:20</a></p></div>
  </div>
  <div class="set clearfix">
    <p class="icon"><img src="/images/profile/profile_001.jpg"  alt="写真" title="写真"></p>
    <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ<br><a href="">http://xxx.com/p/5308916 2010/10/27 10:20</a></p></div>
  </div>
</div>
<div class="tweetLink">
  <p class="logo"><img src="/images/side/tweet_logo.gif" alt="twitter" title="twitter"></p>
  <p class="join"> Join the conversation</p>
</div>
<%
=end
%>

<div id="twitter_widget">
  <%= javascript_include_tag 'http://widgets.twimg.com/j/2/widget.js' %>
  <script type="text/javascript">
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: <%=raw search_keyword.to_json %>,
    interval: 6000,
    title: '旅PLUS',
    subject: 'みんなのつぶやき',
    width: 247,
    height: 300,
    theme: {
      shell: {
        background: '#8ec1da',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#1985b5'
      }
    },
    features: {
      scrollbar: false,
      loop: true,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      toptweets: true,
      behavior: 'default'
    }
  }).render().start();
  </script>
</div>
