@charset "utf-8";
html{height:100%;margin: 0px auto;}
/* basic */
* {margin : 0;padding : 0;border : 0; word-wrap:break-word; letter-spacing:1px; font-family : 'メイリオ', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Osaka, verdana, 'MS Pgothic', sans-serif; color : #333333; font-size : 12px;}
body {height:100%;line-height:160%;margin: 0px auto;background :#f1ede0;}
body.popupBody {background :#333333;text-align:left;}

a:link    { color : #0099ff; text-decoration:none;}
a:visited { color : #0099ff; text-decoration:none;}
a:active  { color : #ff6600;text-decoration:none; }
a:hover   { color : #ff6600;text-decoration:none; }
#footer #footLink a:link    { color : #333333; text-decoration:none;}
#footer #footLink a:visited { color : #333333; text-decoration:none;}
#footer #footLink a:active  { color : #ff6600;text-decoration:none; }
#footer #footLink a:hover   { color : #ff6600;text-decoration:none; }
textarea,select , textbox{ border:1px;border-collapse:collapse;border-color:#b2b2b2;border-style:solid;background : #fff url(../images/form_bg.gif) no-repeat left top;}
input[type="text"][disabled], textarea[disabled] { background-image: url(../images/form_gray_bg.gif) !important; }
/* basic */
/* header */
#tabiplus {margin: 0px auto;text-align : left;width:1030px;margin:auto;background :#ffffff url(../images/main_bg.gif) repeat-y center top;position:relative;height: 100%;min-height: 100%;}
.popup {text-align : left;margin:0;width:712px; text-align:left;}

body > #tabiplus {height: auto;}

div#main{width:980px;padding:0 25px 55px;height: auto; }
#header{ width:1030px;padding:0; margin:0;background :#ffffff url(../images/header_bg.gif) no-repeat center top;}
#header ul#gnavi{padding:0; margin:0; font-size:0;line-height :0;}
#header #logo{padding:5px 18px 18px 25px; margin:0; float:left;}
#header #gnaviWrapper{margin :16px 0 0;padding:0 0 0 20px; float:left;background : url(../images/menu_line.gif) no-repeat left top;}
#header ul#gnavi li{float:left; list-style:none; padding:4px 29px 0 0; margin:0;}
#header #login {float:right;background : url(../images/login_bg.gif) no-repeat left top; width:223px; padding:0 23px 0 0; height:34px;}
#header #login .pict {float:left; padding:3px 8px 0 13px;}
#header #login .name {float:left; padding:6px 0 0;}
#header #login .logoutBtn {float:right; padding:5px 9px 0 0;}
#header #loginBefore { text-align:right;float:right;width:223px; padding:10px 26px 0 0; height:34px;}
#mainArea{float:left; width:712px;padding:0; margin:0;}
#popMain{ width:712px;padding:0; margin:0;position:relative;}
#rightArea{float:right; width:247px;padding:0; margin:0;}
#footer{width:980px;padding:15px 25px 0; margin:0;background : url(../images/footer_bg.gif) no-repeat left top;position:absolute;bottom:0px;height:37px;}
#footer #copy{float:right;padding:0 0 23px; margin:0;}
#footer #footLink{ float:left;padding:0; margin:0;}

.footContents{padding:30px 200px 30px 200px; margin:0;}
.footContents .title{padding:0 0 20px;}

.clearfix {overflow:hidden;zoom: 100%;}
.clearfix:after {content: ".";display: block; visibility: hidden;height: 0.1px; font-size: 0.1em;line-height: 0;clear: both;}

#mainArea .photo img {
  border:1px solid #D3D3D3;
  margin:0 4px 4px 0;
}

.gritter-item-wrapper {
  text-align: left;
}

.gritter-title, .gritter-item p {
  color: white;
}

.placeholder { color: #aaa; }