<%- content_for :stylesheets do %>
<%= stylesheet_link_tag 'about' %>
<%- end -%>

<div class="footContents" id="about">
  <h2 class="title"><img src="/images/about/title.gif" alt="ABOUT 旅PLuSとは" title="ABOUT 旅PLuSとは"></h2>
  <div class="txt">
    <h3>旅PLuSはどんなサイト？</h3>
    <div class="section">
      旅行プランを投稿、閲覧して楽しむことができるサービスです。<br>
      旅PLuSは、旅行を楽しく便利にすることを目的にしています。<br>
      旅のプランを探したり、新しくプランを作ったり、自慢したり、楽しみ方は人ぞれぞれです。旅PLuSで良い旅を。
    </div>

    <h3>旅のプランをつくろう</h3>
    <div class="section">
      旅のプランをつくりましょう。<br>
      旅PLuSでプランを作ると、旅行の際に最短で回れるコース、みんなに人気のスポットなど、旅行を楽しく便利にする仕組みが盛りだくさんです。<br>
      こんな旅行をしてみたいという思いをプランにしてください。
    </div>

    <h3>旅のプランを探そう</h3>
    <div class="section">
      旅PLuSはみんながつくった旅行プランをみることができます。この場所にいくならこんなプランが人気、こんなスポットがあったなど、お気に入りのプランをみつけてください。
    </div>

    <h3>旅の思い出を残そう</h3>
    <div class="section">
      旅PLuSは自分が行った旅行の記録をつけることができます。旅の思い出を書いたり、行った場所で撮った写真をアップロードしましょう。旅の思い出を残すなら旅PLuSで。
    </div>
  </div>
</div>
