<%- content_for :stylesheets do %>
<%= stylesheet_link_tag 'terms' %>
<%- end -%>

<div class="footContents" id="terms">
  <h2 class="title"><img src="/images/rule/title.gif" alt="TERMS OF USE 利用規約" title="TERMS OF USE 利用規約"></h2>
  <div class="txt">
    <h3>はじめに</h3>
    <div class="section">
      この利用規約は株式会社クレイ（以下、「弊社」とします）が、提供する本サービスを利用する全ての行為に適用されます。<br>
      本サービスを利用する全てのユーザーは、本規約に従いサービスを利用するものとします。
    </div>

    <h3>著作権</h3>
    <div class="section">
      本サービス上のすべてのコンテンツに関する著作権は、特段の表示のない限り弊社に帰属しております。これらは著作権法で保護されており、同法により認められている場合を除き、無断で転用、複製等することはできません。<br>
      本サービスを利用し投稿されたツアープランや写真等の情報の権利は、情報を作成したユーザーに帰属します。
    </div>

    <h3>禁止事項</h3>
    <div class="section">
      本サービスを利用するユーザは、以下の行為を行ってはならないものとします。
      <ul>
        <li>弊社または他者を不当に誹謗中傷し、不当な差別を促し、又はその名誉または信用を毀損する行為。</li>
        <li>他者の財産、プライバシー、肖像権、知的財産権の侵害、または侵害する恐れがある行為。</li>
        <li>なりすまし、詐欺、その他あらゆる犯罪に結びつく行為、またはその恐れがある行為。</li>
        <li>弊社または他者のシステムに負荷をかける行為、またはその恐れがある行為。</li>
        <li>あらゆるスパム行為、またはその恐れがある行為。</li>
        <li>その他弊社が不適切と判断する行為。</li>
      </ul>
    </div>

    <h3>免責事項</h3>
    <div class="section">
      <ul>
        <li>弊社は、本サービスに掲載されている内容、またユーザーが本サービスの利用により投稿したいかなる情報について、その正確性、有用性、確実性ほかいかなる保証もするものではありません。</li>
        <li>弊社は、万一ユーザー同士間でトラブルが生じた場合に、ユーザー同士で解決するものとし、一切の責任を負いません。</li>
        <li>弊社は、予告なしに、本サービスの運営を中断または中止、掲載内容を修正、変更、削除する場合がありますが、それらによって生じたいかなる損害についても、一切責任を負いません。</li>
        <li>弊社は、本サービスのご利用により第三者に生じたいかなる損害について一切責任を負いません。システムトラブルやその他予期せぬ要因により障害が生じた場合も同様とします。</li>
        <li>弊社は、本規約その他規約に違反する行為、または違反する恐れがある行為と判断した場合、該当ユーザー情報の削除および、該当情報の削除や変更を行うことがありますが、それにより生じたいかなる損害について一切責任を負いません。</li>
      </ul>
    </div>

    <h3>準拠法</h3>
    <div class="section">
      本サービスのご利用ならびに本利用条件の解釈および適用に関しては、別段の定めがない限り日本法に準拠します。また、本サービスの利用に関するすべての紛争については、別段の定めがない限り東京地方裁判所を第一審の専属管轄裁判所とするものとします。
    </div>
  </div>
</div>
