<div id="rightArea">
  <%- contents.each do |content| -%>
    <%- if content.respond_to? :key and content.respond_to? :value -%>
      <%= render "sidebar/#{content.keys[0]}", content.values[0] %>
    <%- else -%>
      <%= render "sidebar/#{content}" %>
    <%- end -%>
  <%- end -%>
</div>
