<div class="set clearfix">
  <p class="icon"><%= image_tag comment.commenter.profile_image_url, :width => '24' %></p>
  <div class="txt"><p><%= comment.commenter.name %><br><%= comment.body %></p></div>
</div>
