<div class="set clearfix">
      <p class="icon"><%= image_tag comment.commenter.profile_image_url, :width => '24' %></p>
      <div class="txt"><p><a href=""><%= comment.commenter.name %></a><br><%= comment.body %></p></div>
    </div>
