<ul id="destinations" class="ui-sortable" style="list-style-type: none;">
<%- @plan.destinations.each do |destination| -%>
  <li mtp-destination="<%= destination.id %>" mtp-spot="<%= destination.spot_id %>">
    <%= render 'destination', :destination => destination %>
  </li>
<%- end -%>
</ul>
<script type="text/javascript">
$('#destinations').sortable({
  axis: 'y',
  cursor: 'crosshair',
  update: function(event, ui) {
    var destId = $(ui.item[0]).attr('mtp-destination');
    var newPos = $.inArray(ui.item[0], ui.item[0].parentNode.children);
    $.ajax({
      url: '/plans/<%= @plan.id %>/destinations/' + destId + '/position',
      data: {_method: 'put', position: newPos + 1},
      dataType: 'script',
      type: 'POST'
    });
  }
});
</script>
