<div id="rightArea">
  <p><img src="/images/side/comment_h.gif" alt="コメント" title="コメント"></p>
  <div id="comment">
    <div class="set clearfix">
      <p class="icon"><img src="/images/profile/profile_001.jpg" alt="写真" title="写真"></p>
      <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ</p></div>
    </div>
    <div class="set clearfix">
      <p class="icon"><img src="/images/profile/profile_001.jpg" alt="写真" title="写真"></p>
      <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ</p></div>
    </div>
    <div class="set clearfix">
      <p class="icon"><img src="/images/profile/profile_001.jpg" alt="写真" title="写真"></p>
      <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ</p></div>
    </div>
    <div class="set clearfix">
      <p class="icon"><img src="/images/profile/profile_001.jpg" alt="写真" title="写真"></p>
      <div class="txt"><p><a href="">morimori</a><br>ああああああああああああああああああああああああああああああああああああああああああああああ</p></div>
    </div>
  </div>
</div>
