<%- content_for :sidebar do -%>
<%#= render '/sidebar' %>
<%- end -%>

<div id="mainArea">
  <h2 class="title"><img src="/images/plan/title.gif" alt="PLAN プラン" title="PLAN プラン"></h2>
  <%- @plans.each do |plan| -%>
    <%= render 'plan', :plan => plan %>
  <%- end -%>
  <%= will_paginate @plans,
    :separator      => ' | ',
    :previous_label => @plans.previous_page ? image_tag('plan/map_derect_l.gif', :size => '22x22') : nil,
    :next_label     => @plans.next_page     ? image_tag('plan/map_derect_r.gif', :size => '22x22') : nil %>
</div>
